body {
  background-color: hsl(180, 52%, 96%);
  font-family: "League Spartan";
}


.search-hidden {
  display: none !important;
  z-index: 5;
}

/*.container{ 
  height: auto;
}*/
.container {
  max-width: 1110px;
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 0 40px 40px;
}




/*.search {
  position: absolute;
  z-index: 5;
  top: 120px;
  width: 77.08%;
  left: 11.46%;
  background: #ffffff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}*/


.search {
  width: 100%;
  height: auto;
  min-height: 70px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  padding: 20px 40px;
  box-sizing: border-box;
  margin-top: -36px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  /*transition: opacity 1s;*/
}

/*!!!*/
.search__clear {
  margin-left: 50px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  /*color: var(--highlight-color);*/
  font-weight: 700;
  outline: none;
  cursor: pointer;
}


/*.close-tag {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  

  letter-spacing: -0.123077px;

  color: #5ca5a5;

  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: hsl(180, 31%, 95%);
  margin: 7.5px 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;

  padding-right: 45px;
}*/

.tag, .close-tag {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: hsl(180, 31%, 95%);
  font-weight: 700;
  font-size: 14px;
  color: #5ca5a5;
  margin: 7.5px 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
}

.close-tag {
  padding-right: 45px;
}

/*.job-card {
  width: 77.08%;
  height: 152px;
  
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  
   background: #ffffff;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
}*/

.job-card {
  width: 100%;
  height: auto;
  padding: 35px 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}


/*.jobs {
  position: absolute;
  top: 156px;
  display: flex;
  flex-direction: column;
  width: 100%;
  column-gap: 24px;
  height: auto;
  justify-items: center;
  align-items: center;
  /*align-content: center;
  background-color: #F2F2F2;;
  gap: 24px;
  padding-top: 76px;
  padding-bottom: 120px;
}*/


.jobs {
  margin-top: 36px;
  width: 100%;
  height: auto;
  display: grid;
  grid-row-gap: 25px;
}


/*.info {
  /*display: flex;
    flex-direction: column;*/
  /*width: 23.60%;*
  height: 4.26%;
  
}*/

.info {
  margin-left: 25px;
  width: auto;
}


/*.info ul {
  display: flex;
  list-style-type: none;
  gap: 41px;
  flex-direction: row;
    position: relative;
  left: -40px;
}*/

.job-details {
  margin: 0;
  padding: 0;
}


/*.title {
  position: relative;
  top: 10px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  display: block;
  
  cursor: pointer;
  color: #2b3939;
}*/

.title {
  color: #2b3939;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
}


/*.company {
  display: inline-block;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  
  color: #5ca5a5;
}*/

.company {
  color: #40A5A4;
  font-size: 14px;
  display: inline-block;
  font-weight: 700;
  margin-bottom: 15px;
}




.job-col-left {
  /*position: absolute;
    right: 62.7%;*/
  display: flex;
  gap: 20px;
}

.job-img {
  width: 90px;
  height: auto;
  /*position: absolute;
    left: 40px;*/
}

.job-col-right {
  /*position: absolute;
    right: 40px;*/
  display: flex;
  gap: 16px;
}

/*header {
  width: 100%;
  height: 156px;
  background: #5ca5a5;
  background-image: url("./images/bg-header-desktop.svg");
  margin: 0%;
  padding: 0%;
}*/

header {
  width: 100%;
  height: 155px;
  background-image: url('./images/bg-header-desktop.svg');
  background-size: cover;
  background-position: center;
  background-color: #5ca5a5;
}




html, body {
  margin: 0%;
  /*height: auto;*/
}

/*.details {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  

  letter-spacing: -0.138462px;

  color: #7c8f8f;
}*/

.details {
  display: inline-block;
  color:  #7c8f8f;
  font-size: 15px;
}


/*.tag {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  

  letter-spacing: -0.123077px;

  color: #5ca5a5;
  background-color: hsl(180, 31%, 95%);
  border-radius: 4px;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 15px;
}*/

.tag:hover,
.tag-active {
  background-color: #5ca5a5;
  color: #fff;
}

.close-tag::after {
  content: "";
  display: block;
  width: 35px;
  height: 100%;
  background-color: #5ca5a5;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("./images/icon-remove.svg");
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close-tag:hover::after {
  background-color: #2b3939;
}

#clear {
  /*position: absolute;
  /*height: 24px;*/
  /*left: 92.97%;
  right: 3.6%;
  top: calc(50% - 24px / 2 + 1px);*/

  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  /*font-size: 16px;*/
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #5ca5a5;
  text-align: right;
  letter-spacing: -0.123077px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: auto;
  border-radius: 5px;
}

#clear:hover {
  text-decoration-line: underline;
}

#id1,
#id2 {
  border-left-color: #5ca5a5;
  border-left-width: 5px;
  border-left-style: solid;
}

.featured,
.new {
  display: inline-block;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: -0.107692px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;

  color: #ffffff;
}

.new {
  background: #5ca5a5;
  border-radius: 12px;
  position: relative;
  left: 15px;
  /* width: 51px;
    height: 24px;*/
}

.featured {
  background: #2b3939;
  border-radius: 12px;
  position: relative;
  left: 25px;
}



.attribution{ 
  font-size: 11px;
  text-align: center;
}

.details::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color:  #7c8f8f;
  display: inline-block;
  margin: 5px 15px;
}

.details:last-child::after {
  display: none;
}

.title:hover{ 
  color: #5ca5a5;
}

/*.job-col{ 
  display: flex;
    align-items: center;
}*/

.job-col {
  display: flex;
  align-items: center;
}

/*.job-img {
  width: 90px;
  height: auto;
}*/


@media only screen and (max-width: 1120px){ 

  /*.job-card{ 
    flex-wrap: wrap;
    height: auto;
    width: 67.2%;
  }*/
  .search {
    margin-bottom: 50px;
}

.search__clear {
    margin-left: 20px;
}

.jobs {
    grid-row-gap: 50px;
}

.job-card {
    flex-wrap: wrap;
}

.info {
    margin-left: 0;
    width: 100%;
}

.job-col {
    justify-content: flex-start;
    flex: 0 1 100%;
    flex-wrap: wrap;
}

.job-col-left {
    border-bottom: #ABABAB solid 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.job-col-right {
    width: 100%;
    justify-content: flex-start;
    flex: 0 1 100%;
    flex-wrap: wrap;
    margin-left: -5px;
}

.job-img {
    width: 50px;
    margin-top: calc(-35px - 25px);
    margin-bottom: 20px;
}



}